:root {
  --white-color: #fff;
  --primary-color-1: #f5f5f5;
  --base-font-family: sans-serif;
  --base-font-color: #333;
  --base-font-size: 10px;
}

body {
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  color: var(--base-font-color);
  background-color: var(--white-color);
}
